<h1>Edit Contact:</h1>
<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_title_tag :first_name, @contact.first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_title_tag :last_name, @contact.last_name %>
  </div>
  <div>
    <%= label_tag :phone_number %>
    <%= text_title_tag :phone_number, @contact.phone_number %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_title_tag :email, @contact.email %>
  </div>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>  