<h1>Contact Organizer</h1>

<div class="row"></div>
<% @contacts.each do |contact| %>
  <div class="col-md-4">
    <h2><%= link_to contact.full_name, "/contacts/#{contact.id}" %></h2>
    <h3><%= contact.phone_number %></h3>
    <h3><%= contact.email %></h3>
    <h3><%= contact.bio %></h3>
    <br>
    <h2>Group: <%= contact.group.name %></h2>
  </div>
<% end %>

</div>